body
html
  background-color: #efefef
  font-family: 'Open Sans', sans-serif

.search-main
  padding: 20px 0
  &.start
    margin-top: 60px
    text-align: center
    form
      display: block
    .logo
      margin-bottom: 15px
  form
    display: inline-block
    margin-left: 15px
    vertical-align: middle
  .logo
    vertical-align: middle
    margin-bottom: 0
.settings-btn-fixed
  position: absolute
  right: 15px
  top: 15px
  color: #555555
  font-size: 1.1em

.loader > div
  margin: 10px auto
.search-results
  ul
    list-style: none
    padding: 0
    margin: 0
    li
      padding: 0
      margin: 15px 0
  .result
    .journal
      font-size: 0.8em
    .title
      font-weight: bold
    .institutions
    .authors
      font-size: 0.9em
    .abstract
      font-size: 0.9em
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

// Settings
.navbar-settings
  margin: 15px 0
  .navbar-brand
    padding: 0
  .logo
    width: 120px