.logo
  float: left
  margin-right: 25px

md-progress-circular.gt-sm
  height: 36px
  margin-top: -18px

md-card.results
  .ranking
    display: inline-block
    color: #FFF
    font-size: 0.7em
    background-color: #E2001A
    border-radius: 5px
    padding: 2px 5px
    vertical-align: middle
    margin-right: 5px

  .title a
    color: inherit
    text-decoration: none

  .institutions
    margin-bottom: 0

  .authors
    margin-top: 3px

  .toggle-show-more-btn
    vertical-align: middle