.logo
  float: left
  margin-right: 25px

md-progress-circular.gt-sm
  height: 36px
  margin-top: -18px

md-card.results
  .title a
    color: inherit
    text-decoration: none

  .toggle-show-more-btn
    vertical-align: middle