<md-dialog class="md-default-theme">
    <md-dialog-content class="md-dialog-content">
        <h2>Datenquelle wählen:</h2>
        <md-input-container>
            <label>Quelle</label>
            <md-select ng-model="datasourceKey">
                <md-option value="C#">C# API</md-option>
                <md-option value="Java">Java API</md-option>
                <md-option value="Static">Static Github file</md-option>
            </md-select>
        </md-input-container>
    </md-dialog-content>
    <div class="md-actions">
        <md-button ng-click="closeDialog()" class="md-primary">
            Schließen
        </md-button>
    </div>
</md-dialog>
